.slideContent {
  &[contenteditable='true']:not(:focus) {
    cursor: pointer;
  }
}

.contentTextarea {
  background-color: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
  height: 80%;
  padding: 0;
}
