.wrapper {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 1em;
  margin: 1em;
  border-radius: 4px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.label {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
