.slideContent {
  &[contenteditable='true']:not(:focus) {
    cursor: pointer;
  }
}

.slideContent_shout {
  composes: slideContent;

  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--s-heading-color);
  font-size: 3em;
  font-weight: bold;
}
