.wrapper {
  display: contents;
}

.wrapper_active {
  background-color: #000000;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.slide {
  width: var(--s-width, 1024px);
  height: var(--s-height, calc(1024px / (16 / 9)));
  display: block;
  font-size: var(--s-font-size, 25px);
  line-height: var(--s-line-height, 2);
  padding: 2em;
  background-color: var(--s-bg-color, #fff);
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transform: scale(var(--s-scale, 1));
  transform-origin: 0 0;

  & [contenteditable] {
    margin: 0 -1rem;
    padding: 0 1rem;
  }
}

.slide {
  color: var(--s-font-color);

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    color: var(--s-heading-color);
  }

  & ol,
  & ul {
    margin-top: 0;
  }

  & p {
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  & hr {
    width: 100%;
  }

  & table {
    border-collapse: collapse;
  }

  & td,
  & th {
    border: 1px solid var(--s-font-color);
    padding: 0.5em;
  }
}

.clickable {
  cursor: pointer;
  transition: outline 0.2s ease-in-out;
  outline: 0px solid transparent;

  &:not(.active):hover {
    outline: 12px solid #fff3;
    z-index: 1;
  }
}

.active {
  flex-shrink: 0;
  transform: scale(
    min((calc(100vw / 1024px)), (calc(100vh / (1024px / (16 / 9)))))
  );
  transform-origin: center;
}
