.slide {
  width: var(--s-width, 1024px);
  height: var(--s-height, calc(1024px / (16 / 9)));
  display: block;
  font-size: var(--s-font-size, 25px);
  line-height: var(--s-line-height, 2);
  padding: 2em;
  background-color: var(--s-bg-color, #fff);
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transform: scale(var(--s-scale, 1));
  transform-origin: 0 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--s-heading-color);
  }

  [contenteditable] {
    margin: 0 -1rem;
    padding: 0 1rem;
  }

  ol,
  ul {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }

  p:first-child {
    margin-top: 0;
  }

  hr {
    width: 100%;
  }

  table {
    border-collapse: collapse;
  }

  td,
  th {
    border: 1px solid var(--s-font-color);
    padding: 0.5em;
  }

  .controls {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    gap: 0.5em;
    justify-content: flex-end;
  }

  [editable='false'] .controls {
    display: none;
  }

  .content {
    color: var(--s-font-color);
  }

  [editable='true'] .content:not(:focus) {
    cursor: pointer;
  }

  select {
    padding: 0.5em 1em;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #eee;
    height: 2.5em;
    color: #000;
    border: 1px solid #999;
    cursor: pointer;
  }

  select:hover {
    background-color: #ddd;
  }

  select:active {
    background-color: #ccc;
  }

  option {
    background-color: #fff;
  }
}
